.brand img {
  max-width: 160px;
}

.main-nav {
  height: 90px;
}

.navbar .navbar-nav .nav-item {
  font-size: 0.8rem;
}

.dark {
  background-color: #151515;
}

.container {
  max-width: 1170px;
}

.btn-sm {
  font-size: 0.7rem;
  letter-spacing: 2px;
  padding: 0.3rem 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

a {
  text-decoration: none;
}

p,
.aliceblue {
  color: aliceblue;
}

.search {
  max-width: 100%;
}

.border-nav {
  border-bottom: 1px solid gray;
}

li {
  list-style-type: none;
}

.w-max-content {
  width: max-content;
}

.position-absolute-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
}

.owl-item {
  width: 270px !important;
}

.px-6 {
  padding: 0 4rem;
}

.btn-round {
  border-radius: 10rem;
}

/* .owl-carousel .card-content {
  max-width: 290px;
} */

.products {
  background-image: url(assets/img/bg/bg_shape.png);
  background-color: blueviolet;
  padding: 6rem 0;
}

.card {
  position: relative;
}

.card .card-details {
  position: absolute;
  bottom: 0;
  z-index: 9998;
  padding: 1rem;
  background-color: #eeb509;
  width: 100%;
  opacity: 0;
  font-size: 12px;
  font-weight: bold;
  color: aliceblue;
}

.card-content:hover .card-details {
  opacity: 1;
}

.py-8 {
  padding: 3rem 0;
}

.lh-p {
  line-height: 32px;
}

.ls-4 {
  letter-spacing: 4px;
}

.ls-2 {
  letter-spacing: 2px;
}

.bg-danger {
  background-color: #da2f69 !important;
  border-color: #da2f69 !important;
  font-size: 12px;
}

.bg-dark-o {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.w-40 {
  max-width: 200px;
}

.pb-6 {
  padding-bottom: 4rem !important;
}

.py-7 {
  padding: 7rem 0;
}

.text-info {
  color: #17a2b8 !important;
}

.small {
  font-size: 12px !important;
}

.more-btn {
  font-size: 11px;
padding: 10px 25px;
font-weight: 500;
}

.footer {
  padding: 5rem 0;
}

.bg-dark {
  background-color: #151515 !important;
}

.social:hover {
  color: #F71D5A !important;
}

.news-heading:hover {
  color: #58bdf7 !important;
}

.input-group, .input-group btn {
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1220px){
  .container {
    max-width: 800px;
  }
}

@media only screen and (max-width: 992px) {
  .brand img {
    max-width: 100px;
  }

  /* .container {
    max-width: 600px;
  } */
}

@media only screen and (max-width: 576px) {
  /* .container {
    max-width: 400px;
  } */
}
